* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #ba3200;
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
